[Unit]
Description=Auto Ingest Daemon (AID) Server
Documentation=https://github.com/jidckii/transcoder
After=network.target

[Service]
User=transcoder
Group=transcoder

Restart=always

ExecStartPre=/opt/aid-server/bin/rm.sh
ExecStart=/opt/aid-server/bin/aid-server.sh

[Install]
WantedBy=multi-user.target
