[Unit]
Description=Auto Ingest Daemon (AID) Server
Documentation=https://github.com/jidckii/transcoder
After=network.target

[Service]
User=transcoder
Group=transcoder

Restart=always

ExecStartPre=/opt/transcoder/bin/rm.sh
ExecStart=/opt/transcoder/bin/transcoder.sh

[Install]
WantedBy=multi-user.target
